body {
	margin-bottom: 0px;
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #525252;
	background: url(background.png);
}
.button
{
width: 143px;
height: 30px;
background-color: black;
background-image: linear-gradient(to top, #0c0c0c 0%, #282828 100%);
border: 1px solid #0e0e0e;
box-shadow: 0.5px 0.9px 1px rgba(4, 4, 4, 0.3), inset 0.7px 0.8px 1px rgba(255, 255, 255, 0.43);
}
table.main {
	margin-left: 210px;
	width: 60%;
	height: 100%;
	border-collapse: collapse;
	
	/*table-layout: fixed;*/
}
table.main2 {
	margin-left: 210px;
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	background: url(Orange copy.png);
	/*table-layout: fixed;*/
}
.text1 {
color: #ffffff;
font-family: Fangtasia;
font-size: 50px;
}
.img1 {
text-align:center;
}
ul {
  width: 660px;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
  overflow: hidden;
  /*text-align:center;*/
}
li {
  float: left;
  margin:20px;
  /*width: 20%;*/
}
a {
  text-decoration: none;
  /*text-align: center;*/
  display: block;
  color: #ffffff;
  /*padding: 0.5em 0;*/
  font-size: 13pt;
  /*font-weight: bold;*/
  font-style: italic;
  /*transition: 0.5s ease-in-out;*/
  font-family: Georgia Regular;
}
a:hover {
  color: #f70211;
}
.button1 {
background: #000000;
border-style: hidden; /* Параметры рамки */
border-radius: 30px;
width: 145px; /* Ширина кнопки */
height: 35px; /* Высота */
}

.button2 {
background: #cc8400;
border-style: hidden; /* Параметры рамки */
border-radius: 0px;
width: 30px; /* Ширина кнопки */
height: 35px; /* Высота */
}
.button3
{
/* Style for "Shape 1 copy 3" */
width: 19px;
height: 19px;
border-radius: 30px;
background-color: #e6e6e6;
background-image: linear-gradient(to top, rgba(0, 0, 0, 0.14) 0%, rgba(255, 255, 255, 0.14) 100%);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0.5px 0.9px 0.7px 0.3px rgba(255, 255, 255, 0.73);
}
.text2 {
color: #ffffff;
font-family: Helvetica Bold;
font-size: 12px;
font-weight: bold;
}
.text3 {
line-height: 2;
color: #ffffff;
font-family: Georgia Regular;
font-size: 13px;
font-style: italic;
}
